body{
    width:100%;
    margin: 0;
    padding: 0;
    background: url(../../kuanglian/static/img/body.png) top center no-repeat;
    overflow-y: scroll;
    font: 12px/160% arial,\5b8b\4f53 sans-serif;
}
ul{
    padding-inline-start: 0px;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.mainBox{
    width: 1100px;
    margin: 0 auto;
    clear: both;
}
.miniNav{
    min-width: 1100px;
    height: 25px;
    line-height: 25px;
    background: url(../../kuanglian/static/img/miniNav_bg.png);
}
.miniNav div a{
    color: rgba(255,255,255,0.5);
    text-decoration: none;
}
.left{
    float: left;
}
.right{
    float: right;
}
.mianBox{
    width: 1100px;
    margin: 0 auto;
    clear: both;
}
.miniNav-left{
    padding: 0px 10px;
    color: rgba(255,255,255,0.5)
}
.miniNav-right{
    position: relative;
    display: flex;
    justify-content: center;
    /* float: right; */
    /* display: block; */
       padding-left: 79%;
}
.miniNav-right div{
    line-height: 25px;
    display: inline;
    padding: 3px 5px;
    font: 12px/160% arial,\5b8b\4f53 sans-serif;
}
.clearBoth{
    clear: both;
}

.search{
    float: right;
    display: inline;
    width: 270px;
    right: 8px;
    position: relative;
    background: url(../static/img/search.png) no-repeat;
}
.search_input{
    width: 320px;
    height: 36px;
    line-height: 36px;
    border: none;
    text-indent: 10px;
    color: #fff;
    background: none;
    outline: none;
}
.search_btn {
    position: absolute;
    height: 36px;
    width: 36px;
    right: 9px;
    top: 0px;
    background: url(../static/img/search_btn.png) center no-repeat;
    border: none;
    cursor: pointer;
    display: block;
}
input[type="hidden" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    display: none !important;
    padding: initial;
    border: initial;
}
.nav_toolbar{
    height: 134px;
    min-width: 1100px;
    position: relative;
}
.linkbar{
    float: right;
    margin-right: 25px;
}
.linkbar ul {
    float:left;
    position: relative;
    padding-left:15px;
    padding-top: 15px;
    list-style: none;
}
.linkbar ul li{
    float: left;
    color: #fff;
    line-height: 20px;
    text-align: center;
}
.linkbar ul li a{
    text-decoration: none;
    color: #fff;
    width: 69px;
    white-space: nowrap;
    display: block;
}
.menu{
    margin: 0 auto;
    padding: 0;
    width: 1100px;
    height: 40px;
}
.menu ul{
    display:none;
    padding-inline-start: 0px;
}
.menu li{
    list-style: none;
    border-left: #58a5fe solid 1px;
    float: left;
    position: relative;
    width: 136px;
    height: 40px;
    text-align: center;
}
.menu li a{
    color: #ffffff;
    display: block;
    line-height: 40px;
    padding: 0px;
    font-family: '微软雅黑',sans-serif;
    text-decoration: none;
}
.menu li ul li a{color:#ffffff;display:block;line-height:40px;padding:0px}
.menu li:hover > a{background:url(../../kuanglian/static/img/navhover_bg.png) repeat-x;text-decoration:none}
.menu li:hover > ul{display:block;*left:-22px}
.menu ul li{display:block;height:40px;float:none;background:url(../../kuanglian/static/img/nav_bg.png) repeat-x;border-top:#58a5fe solid 1px;border-left:none}
.menu ul li:hover a,.menu li:hover li a{background:none;color:#ffffff;text-align:center}
.menu ul a{display:block;height:auto;font-size:14px;word-wrap:break-word}
.menu ul a:hover,
.menu ul li:hover > a{
    background:url(../../kuanglian/static//img/navhover_bg.png) repeat-x;
}

.nav{
    font: 12px/160% arial,\5b8b\4f53 sans-serif;
    padding: 0;
    margin: 0;
    color: #2b2b2b;
    background: url(../../kuanglian/static/img/nav_bg.png) repeat-x;
    height: 40px;
    z-index: 99;
    position: relative;
    min-width: 1100px;
}
.local_box {
    margin-left: 0px;
    height: 50px;
    background: url(../../kuanglian/static/img/local_index.png) 4px no-repeat;
    padding-left: 35px;
}
.local_ul li {
    color: #a1a7b2;
    line-height: 50px;
    float: left;
    padding-right: 10px;
}
.local_ul li a {
    color: #a1a7b2;
}
.wtfz_list_left ul  li.cur {
    color: #fff;
    background: url(../../kuanglian/static/img/wtfz_list_hover.png) repeat-x;
    display: block;
}
.pageicon{
    background: url(../../kuanglian/static/img/page_bg_nb.png) repeat-x;
}
.local_ul li.noLink {
    background: none;
    padding-right: 6px;
}
.wtfz_list_out {
    width:100%;
    border-top: #ff0000 solid 2px;
}
.wtfz_list_out .wtfz_list_left{width:235px;}
.wtfz_list_out .wtfz_list_right{width:820px; padding-left:45px; margin:0;}
.wtfz_list_left ul li {
    position: relative;
}
.wtfz_list_left ul li {
    width: 232px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    border: #e3e3e3 solid 1px;
    margin-bottom: 2px;
    font-size: 18px;
    color: #808080;
    background: url(../../kuanglian/static/img/list_left_bg.png) repeat-x;
    cursor: pointer;
}
.triangle-right {
    display: block;
    width: 0;
    height: 0;
    border-width: 10px 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent transparent #46aaf6;
    position: absolute;
    top: 25px;
    right: -10px;
}
.blank2{
    clear: both;
    height: 2px;
    overflow: hidden;
    display: block;
}
.blank18 {
    clear: both;
    height: 18px;
    overflow: hidden;
    display: block;
}
.lineHeight180 {
    line-height: 180%;
}
.wtfz_list_right {
    margin: 16px 0 0 35px;
}

.wtfz_list_right ul li {
    padding: 30px 0;
    position: relative;
    overflow:hidden;
}

.wtfz_list_right ul li .articals_img{width:30%; float:left;}
.wtfz_list_right ul li .articals_dec{width:70%; float:left;}
.wtfz_list_right ul li .articals_dec h2{font-size: 18px; color: #4c4c4c;}
.wtfz_list_right ul li .articals_dec small{font-size: 16px;color: #4c4c4c;}
.wtfz_list_right ul li .articals_dec span{font-size: 14px;color: #4c4c4c;}
a img, :link img, :visited img {
    border: 0;
    object-fit: cover;
}
/* .wtfz_list_right ul li .left_content {
    margin-left: 30px;
    width: 597px;
}
.wtfz_list_right ul li h1 {
    font-size: 18px;
    color: #4c4c4c;
    font-weight: bold;
}
.wtfz_list_right ul li .left_content p {
    font-size: 16px;
    color: #4c4c4c;
} */
.page {
    margin: 30px 0;
    line-height: 30px;
    font-size: 12px;
}
.page span {
    color: black;
    padding: 4px 15px;
    margin-right: 10px;
    /* background: url(../../kuanglian/static/img/page_bg.png) repeat-x; */
    border: #d2d2d2 solid 1px;
}


.footer {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    background: #22498a;
    position: relative;

}
.footTop {
    font: 12px/160% arial,\5b8b\4f53 sans-serif;
    padding: 0;
    color: #2b2b2b;
    width: 1100px;
    height: auto;
    margin: 0 auto;
    background: url(../static/img/footerbg.png) no-repeat top center;
    background-size: 893px 439px;
}
.link{
    position: absolute;
    font: 12px/160% arial,\5b8b\4f53 sans-serif;
    padding: 0;
    margin: 0;
    color: #2b2b2b;

    display: block;
}
.link ul{
    list-style: none;
    float: left;
    margin: 15px 5px 0 15px;
}

.link ul li:first-child {
    font-size: 20px;
    margin-bottom: 24px;
    color: #fff;
}
.link ul li a {
    text-decoration: none;
    color: #e2edff;
}
.footbot {
    width: 100%;
    height: 400px;
    background: url(../../kuanglian/static/img/footerbg.png);
    position: absolute;
    left: 0;
    bottom: 0;
}
.foottab {
    width: 100%;
    height: 52px;
    background: rgba(98,150,233,0.2);
}
.foottab .tab {
    width: 1100px;
    line-height: 52px;
    margin: 0 auto;
    text-align: center;
}
.foottab .tab span {
    color: #4d7ac0;
    font-size: 16px;
    margin: 0 48px;
    font-weight: bold;
}
.footbs {
    width: 1100px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
.footbs p:nth-of-type(6) {
    margin-top: 10px;
}
.footbot {
    width: 100%;
    height: 250px;
    background: url(../static/img/footerbg.png);
    position: absolute;
    left: 0;
    bottom: 0;
    top:50px;
}
.foottab {
    width: 100%;
    height: 52px;
    background: rgba(98,150,233,0.2);
}
.footbs {
    width: 1100px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
.footbs p:nth-of-type(1) {
    margin-top: 50px;
}
.footbs p {
    color: #4d7ac0;
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
    opacity: 1;
}
.warp{
    position: fixed;
    z-index: 999;
    bottom: 500px;
}
.local_ul li a:hover{
    color: #4d7ac0;
}
