* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.content {
  width: 1100px;
  margin: 0 auto;
}
.content .content_jieshao .content_jieshao_title {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.content .content_jieshao .content_jieshao_content {
  display: flex;
  align-items: center;
}
.content .content_jieshao .content_jieshao_content_left {
  width: 400px;
  height: 240px;
  margin-right: 20px;
}
.content .content_jieshao .content_jieshao_content_left img {
  width: 100%;
  height: 100%;
  margin-right: 30px;
}
.content .content_jieshao .content_jieshao_content_right {
  width: 780px;
  height: 240px;
  box-shadow: 0 0 10px #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff;
  padding: 20px 20px 20px 10px;
}
.content .content_dangan {
  margin: 20px 0;
}
.content .content_dangan .content_dangan_title {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.content .content_dangan .content_dangan_bd ul li {
  display: flex;
  align-items: center;
  border: 1px solid #ececec;
}
.content .content_dangan .content_dangan_bd ul li .li_div1 {
  padding: 10px 0;
  width: 240px;
  text-align: center;
  background-color: #fafafa;
  border: 1px solid #ececec;
  border-bottom: none!important;
  font-weight: 700;
  color: #666;
}
.content .content_dangan .content_dangan_bd ul li .li_div2 {
  width: 360px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ececec;
  border-bottom: none!important;
  font-weight: normal;
}
.content .content_dangan .content_dangan_bd ul li .li_div3 {
  width: 960px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ececec;
  border-bottom: none!important;
}
.content .content_dangan .content_dangan_bd ul li .li_div4 {
  padding: 0!important;
  border-top: 0;
}
.content .content_dangan .content_dangan_bd ul .li_line {
  border-bottom: none!important;
}
